
<div class="main">
  <!--Header Section Start-->
<div class="navbar">
  <div class="icon">
    <h2 class="logo">
          MyRailways
    </h2>
  </div>

  <div class="menu">
    <ul class="nav nav-pills">
      <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Home</a></li>
      <li class="nav-item"><a href="#" class="nav-link">About</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Trains</a></li>

      <!-- Cart User Tickets-->
       @if(loggedUserData.passengerID == 0){
        <li class="nav-item"><a class="nav-link" (click)="openLogin()">Login</a></li>
        <li class="nav-item"><a class="nav-link" (click)="openSingup()">Sign-Up</a></li>
       }
      @else {
        <li class="nav-item"><a class="nav-link">{{loggedUserData.firstName}} {{loggedUserData.lastName}}</a></li>
        <li class="nav-item"><a class="nav-link" (click)="onLogOff()">Log OFF</a></li>
      }
    </ul>
  </div>
</div>
<!--Header Section END-->

</div>
<router-outlet />


<!-- Signup Start -->
  <div class="modal" id="singUp">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">
                Sign-Up
          </h4>
          <button type="button" class="btn-close" (click)="closeSingup()" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-6">
              <label>First Name</label>
              <input type="text" [(ngModel)]="registerObj.firstName" name="first" class="form-control">
            </div>
            <div class="col-6">
              <label>Last Name</label>
              <input type="text" [(ngModel)]="registerObj.lastName" name="last" class="form-control">
            </div>
          </div>
  
          <div class="row">
            <div class="col-6">
              <label>Phone Number</label>
              <input type="number" [(ngModel)]="registerObj.phone" name="phoneno" class="form-control">
            </div>
            <div class="col-6">
              <label>E-mail</label>
              <input type="mail" [(ngModel)]="registerObj.email" name="mail" class="form-control">
            </div>
          </div>
  
          <div class="row">
            <div class="col-6">
              <label>Password</label>
              <input type="text" [(ngModel)]="registerObj.password" name="psd" class="form-control">
            </div>
          </div>
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="closeSingup()">Close</button>
          <button type="button" class="btn btn-success" (click)="onRegister()">Sign-Up</button>
        </div>
      </div>
    </div>
  
  </div>

<!-- Signup End -->


<!-- Login Start -->

<div class="modal" id="logIn">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
              Log-in
        </h4>
        <button type="button" class="btn-close" (click)="closeLogin()" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <form>
        <div class="row">
          <div class="col-6">
            <label>User Name/Phone</label>
            <input type="text"  id="phoneno" value="phone" name="phone" [(ngModel)]="loginObj.phone" class="form-control">
          </div>
          <div class="col-6">
            <label>Password</label>
            <input type="password" [(ngModel)]="loginObj.password" name="pswd" class="form-control">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="closeLogin()">Close</button>
          <button type="button" class="btn btn-success" (click)="onLogin()">Login</button>
        </div>
      </form>
      </div>
    </div>
  </div>
</div>

<!-- Signup End -->